<h1>Listing sales</h1>

<table>
  <thead>
  <tr>
    <th>Amount</th>
    <th>Tax</th>
    <th>Customer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @sale.each do |sale| %>
      <tr>
        <td><%= number_to_currency(sale.amount) %></td>
        <td><%= number_to_currency(sale.tax) %></td>
        <td><%= sale.customer.name %></td>
        <td><%= link_to 'Show', sale %></td>
        <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
        <td><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sale', new_sale_path %>
